.siteHeader h1 {
	font-family: 'Cinzel', serif;
	text-align: center;
}

.nav {
	color: #5a5a5a;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
	font-family: 'Crimson Text', serif;
	text-align: center;
}

.nav li {
  display: inline;
}

.mainBody {
	font-family: 'Josefin Slab', serif;
	text-align: left;
	padding: 3% 25%;
}
.calendarWidget {
	text-align: center;
	padding: 3% 25%;
}
.bg {
	background-image: url(http://wallpapers5.com/images/wallpapers/92270626/Travel/Midtown-Skyline-New-York-City.jpg);) no-repeat center center;
	position: fixed;
	width: 100%;
	height: 350px; /*same height as jumbotron */
	top:0;
	left:0;
	z-index: -1;
}
/* Fonts to use:
 * 
 * font-family: 'Josefin Slab', serif;
 * font-family: 'Alegreya', serif;
 * font-family: 'Crimson Text', serif;
 * font-family: 'Cinzel', serif;
 * font-family: 'Oswald', sans-serif;
 * 
 * 
 */